:root {
    --white-color:#fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-family: Circular, -apple-system,  Roboto, sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.8rem;
}