body {
    margin: 0;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.banner__left {
    width: 50%;
    background-color: #000;
    position: relative;
}
.banner__left-img {
    padding: 24px;
}
.banner__left-conttent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.banner__left-heading {
    color: #fff;
    text-align: center;
    font-size: 6.8rem;
    line-height: 7rem;
    padding: 12px 24px;
    font-weight: 500;
}
.banner__left-btn {
    padding: 18px 32px;
    font-size: 1.8rem;
    border-radius: 12px;
    background-image: linear-gradient(
        to right,
        rgb(229, 29, 80),
        rgb(220, 14, 100)
    );
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

.banner__left-icon {
    color: var(--white-color);
    position: absolute;
    bottom: 32px;
    font-size: 1.5rem;
    left: 50%;
    padding: 12px;
    margin-left: -12px;
    border-radius: 50%;
    cursor: pointer;
}

.banner__left-icon:hover {
    background-color: #999;
}

.banner-right {
    width: 50%;
}

.banner__right-video {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
}

.content__heading {
    position: relative;
    height: 700px;
}

.content__heading-top {
    margin-top: 48px;
    font-size: 5.8rem;
    line-height: 6.8rem;
    text-align: left;
    width: 60%;
}

.content__home {
    position: absolute;
    bottom: -50%;
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    display: flex;
    transform: translate(50%);
}

.content__home::-webkit-scrollbar {
    display: none;
}

.home__img {
    flex-shrink: 0;
    width: 35%;
    margin-right: 64px;
}

.home__img-product-text {
    margin-top: 24px;
}

.home__img-text {
    color: var(--white-color);
    font-size: 2.6rem;
    line-height: 2.8rem;
}

.home__img-text-end {
    color: var(--white-color);
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif;
}

.home__img-text-admin-home {
    color: var(--white-color);
    font-size: 1.8rem;
}

.content__home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__search {
    background-color: #000;
    height: 500px;
}
