body {
    margin: 0;
}

.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.banner__left {
    width: 50%;
    background-color: #000;
    position: relative;
}
.banner__left-img {
    padding: 24px;
}
.banner__left-conttent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: fit-content; */
}
.banner__left-heading {
    color: #fff;
    text-align: center;
    font-size: 6.8rem;
    line-height: 7rem;
    padding: 12px 24px;
    font-weight: 500;
}
.banner__left-btn {
    padding: 18px 32px;
    font-size: 1.8rem;
    border-radius: 12px;
    background-image: linear-gradient(
        to right,
        rgb(229, 29, 80),
        rgb(220, 14, 100)
    );
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

.banner__left-icon {
    color: var(--white-color);
    position: absolute;
    bottom: 32px;
    font-size: 1.5rem;
    left: 50%;
    padding: 12px;
    margin-left: -12px;
    border-radius: 50%;
    cursor: pointer;
}

.banner__left-icon:hover {
    background-color: #999;
}

.banner-right {
    width: 50%;
}

.banner__right-video {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
}

.container__product {
    height: 160vh;
    background-image: linear-gradient(to top, #000 65%, #fff 35%);
    padding-bottom: 120px;
}

.container__product-heading {
    margin-top: 64px;
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
    width: 60%;
    line-height: 4rem;
    padding-bottom: 64px;
}

.container__product-main {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
}

.container__product-main::-webkit-scrollbar {
    display: none;
}

.container__product-category {
    margin-top: 64px;
    width: 30%;
    margin-right: 32px;
    flex-shrink: 0;
}

.container__product-category-intro {
    display: none;
}

.container__product-category-intro--active {
    display: block;
}

.container__product-category-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 18px;
}

.container__product-category-info {
    color: var(--white-color);
    font-size: 1.8rem;
    width: 100%;
}

.container__product-category-name {
    color: var(--white-color);
    font-size: 2rem;
    font-family: cursive;
}

.container__product-category-where {
    color: #999;
    font-size: 1.5rem;
    font-weight: bold;
}

.container__product-text-search {
    font-size: 4rem;
    color: var(--white-color);
    width: 35%;
    line-height: 4rem;
    font-weight: bold;
    padding-top: 160px;
    padding-bottom: 120px;
}
.container__product-btn-search {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 20px;
    background-image: linear-gradient(
        to right,
        rgb(229, 29, 80),
        rgb(221, 16, 98)
    );
    color: var(--white-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.conatiner__help-customer {
}

.conatiner__help-customer-heading {
    margin-top: 120px;
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.6rem;
}

.customer__help-category {
    width: 33.3333%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.conatiner__help-customer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.container__help-customer-info {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}

.container__help-text {
    font-size: 1.8rem;
    padding: 4px 0;
    font-weight: 600;
}

.container__help-text-icon {
    margin-left: 4px;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 4px 0;
}
