body {
    margin: 0;
}

.banner {
    display: flex;
}
.banner__left {
    width: 50%;
}
.banner__left-img {
}
.banner__left-conttent {
}
.banner__left-heading {
}
.banner__left-btn {
}
.banner-right {
    width: 50%;
}
.banner__right-video {
    object-fit: cover;
    object-position: center top;
}
