.header__nav-item-link-page2 {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    /* line-height: 30px; */
    position: relative;
    font-weight: 300;
}

.header-page2 {
    border-bottom: 1px solid rgb(224, 222, 222);
}

.header__nav-item-user-page2 {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 30px;
    padding: 8px 12px;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}
.menu-list__item{
    padding: 12px 8px;
    margin: 0 4px;
    cursor: pointer;
}

.menu-list:first-of-type .menu-list__item--active {
    cursor: default;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: 600;
}

.menu-list__item:not(.menu-list__item--active):hover {
    color: rgb(117, 115, 115);
}

.container {
    padding: 12px 0;
}

.menu-list__item-name{
    font-size: 1.5rem;
}

.menu-list:last-of-type .menu-list__item {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 8px 12px;

}

.menu-list__item-icon {
    font-size: 1.4rem;
    margin: 4px;
}

.menu-list:last-of-type .menu-list__item:not(.menu-list__item--active):hover {
    border: 1px solid #000;
}

.menu-list:last-of-type .menu-list__item--active {
    border: 1px solid #000;
    background-color: rgb(241, 238, 238);
    color: var(--text-color);
}

.home-place__item {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.home-place__item-icon-tym {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.2rem;
    color: #fff;
}

.home-place__item .home-place__item-icon-right {
    position: absolute;
    top: 108px;
    right: 10px;
    font-size: 1.8rem;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
    display: none;
}


.home-place__item:hover .home-place__item-icon-right {
    display: block;
}

.home-place__item-img{
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 8px;
}
.home-place__item-info{
    --line-height: 2rem;
    margin: 6px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: var(--line-height);
    height: calc(var(--line-height));
    
}
.home-place__item-info-name{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: bold;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: var(--line-height);
    height: calc(var(--line-height));
    --line-height: 2rem;
    display: -webkit-box;
    margin-right: 4px;
}
.home-place__item-info-price{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    margin-left: auto;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: var(--line-height);
    height: calc(var(--line-height));
    --line-height: 2rem;
    display: -webkit-box;
}
.home-place__item-far{
    font-size: 1.4rem;
    color: #999;
}
.home-place__item-far-num{

}

.show22 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 12;
}

.header__nav-item-user-page2 {
    position: relative;
}

.nav-tablet-page2 {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 10px;
    display: none;
    z-index: 1;
}

.nav-input-page2 {
    display: none;
}

.nav-input-page2:checked ~ .nav-tablet-page2 {
    display: block;
}

.nav-input-page2:checked ~ .Over-lay{
    display: block;
}

.menu-list__item-click {
    position: relative;
}

.item-name__add-list{
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: var(--white-color);
    list-style-type: none;
    padding-left: 0;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 12px;
    z-index: 1;
    display: none;
}
.item-name__add-item{
    color: var(--text-color);
    padding: 12px;
    margin: 12px;
    width: 252px;
    font-size: 1.5rem;
    border-radius: 16px;
}

.label-add-item-list {
    display: none;
}

.item-name__add-item:hover {
    background-color:rgb(231, 231, 231);
}

.input-add:checked ~ .item-name__add-list {
    display: block;
}

.cancel-add-item {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: none;
}

.input-add:checked ~ .cancel-add-item {
    display: block;
}

.label-item {
    cursor: pointer;
}

/* Header Mobile */

.header__mobile-page2{
    border-bottom: 1px solid rgb(180, 179, 179);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 1px 1px 4px 1px #ccc;
    z-index: 12;
    display: none;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.header__mobile-icon-page2:first-of-type{
    font-size: 1.8rem;
}

.header__mobile-icon-page2{
    font-size: 1.6rem;
}

.header__mobile-page2-btn {
    padding: 12px;
    border-radius: 32px;
    border: none;
}

.btn-text-mobile-active {
    font-weight: 600;
}

.header__mobile-btn-text-p2{
    padding: 4px 12px;
    font-size: 1.4rem;
    cursor: pointer;
}
/* .header__mobile-btn-addcustomer{
    padding: 8px;
    font-size: 1.4rem;
} */
.header-end {
    display: block;
}
.header__menu-list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    max-width: 100%;
    overflow-x: auto;
}

.header__menu-list__item  {
    padding: 8px;
    flex-shrink: 0;
    margin-right: 6px;
    cursor: pointer;
}

.header__menu-list-mobile::-webkit-scrollbar {
    display: none;
}

.header__menu-list__item--active {
    cursor: default;
    border-bottom: 3px solid #000;
    color: #000;
    font-weight: 600;
}

.customer-page2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(202, 200, 200);
    margin-bottom: 8px;
}

.menu-list__item-add {
    position: relative;
}

.add-customer-page2 {
    position: absolute;
    right: 0;
    left: -192px;
    top: calc(100% + 10px);
    background-color: var(--white-color);
    padding: 16px 32px;
    border-radius: 30px;
    z-index: 1;
    box-shadow: 2px 1px 14px #ccc
    display: none;
}

.cancel-customer-page2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: none;
}

.input-customer-checked-page2:checked ~ .add-customer-page2 {
    display: block;
}

.input-customer-checked-page2:checked ~ .cancel-customer-page2 {
    display: block;
}

.customer-delete {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
}

.customer-quantity-save {
    background-color: #000;
    color: var(--white-color);
    padding: 4px 8px;
    cursor: pointer;
}
