.background {
    /* background-image: url('https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560'); */
    background-image: url('/acess/img/bgr2.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
}
.header {
    height: 80px;
}

.header__nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.header__nav-logo {
    width: 102px;
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.header__nav-item {
    padding: 12px;
    border-radius: 50%;
}

.header__nav-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    /* line-height: 30px; */
    position: relative;
    font-weight: 600;
}

.header__nav-item-user {
    background-color: var(--white-color);
    /* width: 60px;
    height: 30px; */
    border-radius: 50%;
    position: relative;
}

.header__nav-item-user-link {
    width: 60px;
}

.header__nav-item-icon-globe {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__nav-item-icon-bars {
    color: var(--black-color);
    font-size: 1.6rem;
    margin-right: 4px;
}

.header__nav-item-icon-user {
    color: var(--black-color);
    font-size: 1.6rem;
}

.header__nav-item--acticve .header__nav-item-link::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    left: 8px;
    right: 8px;
    background-color: var(--white-color);
    height: 2px;
}

.header__nav-list:first-of-type .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__nav-list:last-of-type .header__nav-item:nth-child(1):hover,
.header__nav-list:last-of-type .header__nav-item:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-tablet {
    position: absolute;
    top: calc(100% + 5px);
    right:0;
    background-color: var(--white-color);
    border-radius: 10px;
    display: none;
}

.nav-tablet__list {
    padding-left: 0;
    width: 200px;
    list-style: none;
}

.nav-tablet__item {
    padding: 12px;
}

.nav-tablet__item:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

.nav-tablet__item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);

}

.nav-input {
    display: none;
}

.nav-input:checked ~ .nav-tablet {
    display: block;
}

.header__nav-list-tablet {
    display: none;
    justify-content: center;
    list-style: none;
}

.header__nav-list-tablet .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.Over-lay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}

.nav-input:checked ~ .Over-lay {
    display: block;
}

/* Search */
.search {
    margin: 0 52px;
    background-color: var(--white-color);
    border-radius: 50px;
    height: 68px;
}

.search__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
    height: 100%;
}

.search__item {
    padding: 12px;
    margin: 0 32px;
    position: relative;
}

.search__item:last-of-type {
    margin: 0;
}

.search__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
}

.search__item-heading {
    color: #000;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 0 6px 0;
}

.search__item-input {
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.search__item-link-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 56, 92);
    margin-right: auto;
    border: none;
}

.search__item-link-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.border {
    border-left: 1px solid #ccc;
    height: 32px;
}

.background__content {
    margin-top: 30px;
    height: 500px;
    text-align: center;
    padding: 64px 0;
    display: flex;
    align-items: center;
}

.background__content-heading {
    margin: 0;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 600;
}

.background__content-search {
    margin-top: 16px;
}

.background__content-search-btn {
    border-radius: 30px;
    padding: 22px 32px;
    background-color: var(--white-color);
    color: rgb(111, 1, 156);
    border: none;
    cursor: pointer;
}

.background__content-search-btn:hover {
    box-shadow: 1px 1px 12px 4px rgb(102, 101, 101);
}

.background__content-search-btn-span {
    background-image: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 1.8rem;
}




